# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temp
*.tmp
*.temp
temp/
tmp/

# Logs
*.log
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Node (kalo pake Electron nanti)
node_modules/
npm-debug.log*

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
